PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>/<database>?appName=<app-name>
JWT_SECRET=change-me-in-development
BACKOFFICE_ADMIN_FULL_NAME="Admin User"
BACKOFFICE_ADMIN_EMAIL=admin@example.com
BACKOFFICE_ADMIN_PASSWORD=change-me-before-seeding
